

   .p2 {
       text-shadow: 2px 2px 1px #1051de;
       color: rgb(16, 15, 16);

       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   }

   body {
       background-image: url("https://static.vecteezy.com/system/resources/thumbnails/024/669/489/small_2x/mountain-countryside-landscape-at-sunset-dramatic-sky-over-a-distant-valley-green-fields-and-trees-on-hill-beautiful-natural-landscapes-of-the-carpathians-generative-ai-variation-5-photo.jpeg");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
   }

  